body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c9c9c9
}

.App {
  display: flex;
  min-height: 40rem;
  align-items: center;
  justify-content: center;
}

.westernlogo {
  background-color: #ffffff;
  color: black;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.calc {
  width: 100%;
  max-width: 400px;
  background-color: #74d6c7;
  overflow: hidden;
}

.calcdisplay {
  padding: 25px;
  font-size: 40px;
  text-align: right;
  background-color: #2c2c2c;
  color: #c9c9c9;
}

button {
  color: rgb(114, 114, 114);
  font-size: 50px;
  padding: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.mathSigns {
  display: flex;
}

.mathSigns button {
  flex: 1 1 0%;
  background-color: #57795a;
  color: #d8d8d8;
  font-style: oblique;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.numbers button {
  flex: 1 1 33%;
  justify-content: space-between;
}